@{
  Layout="Shared/_Layout.cshtml";
}
<h4><a href="/">Back to Contacts</a></h4>

<h1>Your contacts have been cleared!</h1>

<a href="/contact/form"><button type="button" class="btn btn-info">Add New Contact</button></a>
