@{
  Layout="Shared/_Layout.cshtml";
}
@*Search page does not function, but I would love it to.*@
  <h4>Is this the person you're looking for?</h3>
  <h3><a href='/contacts/@Model.GetId()'>@Model.GetName()</a></h3>
