.btn-info {
  background-color: #99aacc;
  border-color: #99aacc;
}

.btn-info:hover {
    background-color: #778aa6;
}

#search-form {
  margin-top: 20px;
}

/************* Nav Bar *************/

/*Once they are floated to the right, the links lose their padding. We give them back the padding, and change the color of the nav bar*/
.nav,  .nav a {
  padding: 10px 15px;
  padding-left: 10px;
  background: #778aa6;
  color: white;
}
.nav a {
  font-size: 1.75rem;
}

li#new-contact {
  font-size: 1.25rem;
}

.nav li {
  display: block;
}

/*Make hover color for pills lighter*/
.nav-pills>li>a:hover {
  background-color: #b7bbc3;
}

/************* Media Queries *************/

@media (min-width: 789px) {
  ul.nav {
    padding-left: 10%;
    padding-right: 10%;
  }
}
